<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/home.css">
    <title>Receitas</title>
</head>

<nav id='nav-bar'> 
    <ul id="nav-list">
        <a href="/cadreceitas">
        <li>
            Insira receitas
        </li>
        </a>
        <a href="/home">
        <li>
            Visualize receitas
        </li>
        </a>
        <a href="/login">
            <li>
                Login
            </li>
        </a>
    </ul>
</nav>

<body>
    <section id="mainpage">
        <form method="GET" action="/home">
            <div>
                <label for="tag">Filtrar por Tag:</label>
                <select name="tag">
                    <option value="">Todas as Tags</option>
                    {% for tag in all_tags %}
                        <option value="{{ tag }}" {% if tag == selected_tag %}selected{% endif %}>{{ tag }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <button type="submit">Filtrar</button>
            </div>
        </form>
        <h1>Receitas</h1>
        {% for receita in receitas %}
            <h2 class="titulo_receita">{{ receita.titulo }}</h2>
            <h4 class="id_usuario">{{ receita.userid }}</h4>
            
            <p class="tags_receita">Tags: {{ receita.tags }}</p>
            
            <p class="texto_receita">{{ receita.conteudo }}</p>
        {% endfor %}
        <button onclick="window.location.href='/cadreceitas'">Cadastrar Receita</button>
    </section>
</body>
</html>