/* Estilo para centralizar a seção de receitas */
#mainpage {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff8e7;
    padding: 20px;
}

/* Estilo para o corpo da página */
body {
    background-color: #fff8e7;
    font-family: Arial, sans-serif;
    color: #655242;
}

/* Estilo para a barra de navegação */
#nav-bar {
    background-color: #ff8daa;
    padding: 5px;
}

#nav-list {
    list-style-type: none;
}

#nav-list li {
    display: inline;
    margin-right: 20px;
}

/* Estilo para os títulos das receitas */
.titulo-receita {
    font-weight: bold;
    color: #f77998;
}

/* Estilo para os IDs dos usuários */
.id-usuario {
    color: #655242;
}

/* Estilo para o texto das receitas */
.texto-receita {
    color: #655242;
}

/* Estilo para o botão de cadastrar receita */
button {
    background-color: #7e6651;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 5px;
}

/* Estilo de hover para o botão */
button:hover {
    background-color: #bc9b7d;
}

/* Estilo para links */
a {
    color: #fff8e7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilo para os cards de receitas */
.receita-card {
    width: 45%;
    margin: 10px;
    padding: 15px;
    background-color: #fffce6;
    border: 1px solid #8b4513;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.receita-card.expandido {
    width: 90%;
}

/* Estilo para o conteúdo da receita */
.texto-receita {
    display: none;
    color: #655242;
}
